@import 'colors';

@mixin mobileLogo($isMobile) {
    @if $isMobile {
        display: none;
        
    } @else {
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        justify-content: center;

        @media only screen and (max-width: 1000px) {
            padding-top: 3%;
            padding-bottom: 3%;
        }

        a {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .logoImg {
                content: url("../public/tls.svg");
                width: 800px;

                @media only screen and (max-width: 1000px) {
                    width: 80%;
                }

                @media only screen and (max-width: 600px) {
                    content: url("../public/tls-minimal.svg");  
                }
            }
        }

        
    }
}


.logoDiv {
    @include mobileLogo($isMobile: false);

    @media only screen and (max-width: 525px) {
        @include mobileLogo($isMobile: true);
    }
}