html, body, p {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: grid;
}

.wrapper .header {
    background-color: blue;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .body {
    background-color: green;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

    .body .section {
        background-color: red;
        height: 30vh;
    }

.wrapper .footer {
    background-color: aqua;
    height: 20vh;
}



/* for testing purposes */
.primary-article {
    background-color: red;
    max-width: 50vw;
    height: 25vh;
    border-radius: 12px;
}

.primary-article .heading {
    background-color: pink;
    font-size: 2rem;
}