html, body, p, hr {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: grid;
}






/* for testing purposes */
.primary-article {
    background-color: red;
    max-width: 50vw;
    height: 25vh;
    border-radius: 12px;
}

.primary-article .heading {
    background-color: pink;
    font-size: 2rem;
}