.wrapper .body {
    background-color: green;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

    .body .section {
        background-color: red;
        height: 30vh;
    }