.wrapper > .body {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    padding-bottom: 0vh;
}

    .body > .banner {
        background-color: red;
        height: 80vh;
        margin-bottom: 5vh;
        border-radius: 20px;
    }

    .body > hr {
        width: 100%;
        border-right : 0;
        border-left: 0;
        border-bottom: 0;
        border-top: 1.5px solid rgb(0, 0, 0);
        margin-bottom: 5vh;
    }

    .body > .section {
        background-color: red;
        height: 30vh;
        margin-bottom: 5vh;
    }