@import 'colors', 'primary-article', 'secondary-article';

.section {
    max-width: 100%;
    height: 100%;
    
    padding-left: 12vw;
    padding-right: 12vw;

    hr {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
    }

    .sectionName {
        font-size: 40px;
        padding-bottom: 2vh;
    }

    .articles {
        display: grid;
        grid-template-columns: 5fr 5fr;
        column-gap: 15px;
        height: 400px;
        max-width: 100%;
    }
}