@import 'colors', 'primary-article', 'secondary-article';

.section {
    padding-left: 10vw;
    padding-right: 10vw;

    hr {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
    }

    .sectionName {
        font-size: 40px;
    }

    .articles {
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: pink;
        height: 350px;

    }
}