$black: black;
$white: rgb(255, 255, 255);
$gray: rgb(217, 217, 217);
$dark-gray: rgb(75, 75, 75);
$transparent-gray: rgba(0, 0, 0, 0.322);
$transparent-dark-gray: rgba(0, 0, 0, 0.459);

// Section colors
$univ-green: rgb(0, 51, 0);
$menage-blue: rgb(1, 33, 80);
$sports-yellow: rgb(149, 127, 13);
$vanguard-purple: rgb(43, 11, 84);
$opinion-red: rgb(65, 23, 21);
