.footer {

    .navbar {
        padding-left: 12vw;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top: 0px;
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            margin-right: 15px;

            .icon {
                display: block;
                fill: $black;
                width: 35px;
                height: 35px;

                @media only screen and (max-width: 525px) {
                    display: block;
                    padding-right: 12vw;
                    width: 35px;
                    height: 35px;
                }

                &:hover {
                    fill: $dark-gray;
                }
            }
        }
    }

    .details {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 12vw;
        padding-right: 50vw;

        @media only screen and (max-width: 900px) {
            padding-right: 30vw;
        }

        @media only screen and (max-width: 525px) {
            padding-right: 12vw;
        }
        
    }

    .copyright {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 12vw;
        padding-right: 12vw;

        hr {
            border-top: 1px solid $black;
        }

        .finalWords{
            display: grid;
            grid-template-columns: 50fr 50fr;

            .toTheTop {
                text-align: end;

                a:hover{
                    cursor: pointer;
                }
            }
        }
    }
}