@import 'colors';

@mixin mobileNavbar($isMobile) {
    // add logic here
    @if $isMobile {
        grid-template-columns: 10% 80% 10%;
        padding-left: 1vw;
        padding-right: 1vw;

        .list {
            display: none;
        }

        .navLogoLinkDiv {
            display: none;
        }

        .searchbar {
            width: 100%;
        }

        .logoImgMobile {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        a {
            display: none;
        }

        .logoImgMobileLink {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .searchDiv {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;

            .searchImg {
                width: 35px;
            }
        }

        .menuDiv {
            display: block;
            width: 100%;

            .menuImg {
                width: 35px;
            }
        }
    } @else {
        background-color: $white;
        position: sticky;
        top: -1px;

        display: grid;
        grid-template-columns: 32.5% 35% 32.5%;

        padding-top: 2px;
        padding-bottom: 2px;

        border-top: 2px $gray solid;
        border-bottom: 2px $gray solid;

        input {
            width: 95%;
            height: 100%;
        }

        .closeDiv {
            display: flex;
            flex-direction: row-reverse;

            .closeImg {
                opacity: 1;  
                width: 30px;
            }
        }

        .searchDiv {
            width: 100%;

            .searchImg {
                width: 30px;
            }
        }

        .logoImgMobile {
            display: none;
        }

        ul {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            
            list-style: none;
            align-items: center;

            li {
                display: inline-block;
                margin-left: 1vw;
                margin-right: 1vw;
            }

        }

        .menuDiv {
            display: none;
        }
    }
}

.navbar {
    @include mobileNavbar($isMobile: false);

    @media only screen and (max-width: 1680px) {
        grid-template-columns: 27.5% 45% 27.5%;
    }

    @media only screen and (max-width: 1190px) {
        grid-template-columns: 25% 50% 25%;
    }

    @media only screen and (max-width: 1080px) {
        grid-template-columns: 20% 60% 20%;
        
    }

    @media only screen and (max-width: 820px) {
        grid-template-columns: 15% 70% 15%;
    }

    @media only screen and (max-width: 700px) {
        grid-template-columns: 10% 80% 10%;
    }

    @media only screen and (max-width: 590px) {
        grid-template-columns: 7.5% 85% 7.5%;
    }

    @media only screen and (max-width: 525px) {
        @include mobileNavbar($isMobile: true);
    }
}