.primary {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;

        .articleLink {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: $transparent-gray;
            z-index: 2;

            &:hover {
                background-color: $transparent-dark-gray;
            }

            &:hover + .img {
                width: 110%;
                height: 110%;
                transform: translate(-5%, -5%);
            }

            .content {
                position: absolute;
                max-width: 100%;
                min-height: 42%;
                
                color: $white;
                bottom: 0px;
                padding-left: 1vw;
                padding-right: 1vw;
                padding-bottom: 3vh;

                display: flex;
                flex-direction: column-reverse;

                .headline {
                    font-weight: 600;
                    font-size: 25px;

                    &:hover {
                        color: $gray;
                    }
                }

                .authors {
                    font-size: 14px;
                    color: $white;
                }

                .snippet {
                    padding-top: 1vh;
                    font-size: 15px;

                    .readMore {
                        &:hover {
                            color: $gray;
                        }
                    }

                    @media only screen and (max-width: 1100px) {
                        display: none;
                    }
                }
            }
        }

        .img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
            transition: width 0.2s, height 0.2s, transform 0.2s;
        }

    }
    
    // .primaryCard {
    //     width: 600px;
    //     height: 100%;
    //     border-radius: 20px;
    //     overflow:hidden;

    //     position: relative;
    //     z-index: 0;

    //     .primaryCardShade {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: fill;

    //         position: absolute;
    //         z-index: 1;
    //         background-color: $transparent-gray;
    //     }

    //     .primaryImg {
    //         width: 100%;
    //         height: 100%;
    //         object-fit: fill;

    //         position: absolute;
    //         z-index: -1;

    //         transition: width 0.2s, height 0.2s, transform 0.2s;
    //     }

    //     .primaryLink {
    //         background-color: red;
            
    //         .cardContainer {
    //             width: 100%;
    //             height: 100%;
    //             object-fit: fill;

    //             position: absolute;
    //             z-index: 1;
    //             color: $white;
    //             margin-bottom: 50px;

    //             display: flex;
    //             flex-direction: column;
    //             justify-content: flex-end;
    //         }
    //     }

        
    // }

}