@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'colors';

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    text-decoration: none;
    color: $black;
}

hr {
    border-top: 1px $gray solid;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
}

// We need Modules for each CSS style we want in Next.js, unfortunately. So this guy's here...
.sticky {

    .navLogoLinkDiv {
        display: flex;
        flex-direction: row-reverse;

        a {
            display: none;

            .navLogo {
                content: url("../public/tls-minimal.svg");        
                width: 0;
                opacity: 0;
                transition: opacity .2s;
                transition-timing-function: ease-in;
            }
        }
    }
}

.sticky.sticked {
    background-color: $white;

    .navLogoLinkDiv {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 100%;
        align-items: center;
        
        a {
            display: block;

            .navLogo {
                content: url("../public/tls-minimal.svg");
                opacity: 1;
                width: 180px;

                @media only screen and (max-width: 800px) {
                    content: url("../public/tls-star.svg");
                    width: 50px;
                }
            }
        }
    }
}